* {
  transition: all 0.3s ease-in-out;
}

$nav-color: rgb(36, 34, 34);
$section-font-size: 5rem;
$section-bcolor: lightgreen;
$aside-font-size: 5rem;
$aside-bcolor: green;
$footer-font-size: 2rem;
$footer-bcolor: rgb(0, 194, 97);

section {
  background-color: $section-bcolor;
  font-size: $section-font-size;
  height: 70vh;
  width: 65%;
  text-align: center;
  margin-left: 1%;
}

aside {
  width: 30%;
  float: right;
  margin-right: 1%;
  background-color: $aside-bcolor;
  color: white;
  padding: 5px;
  font-size: $section-font-size;
  text-align: center;
  height: 69vh;
}

.container {
  clear: both;
  overflow: auto;
  background-color: $nav-color;
  color: white;
}

nav {
  float: right;
}

.logo img {
  float: left;
}

ul li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-family: raleway;
  margin-right: 50px;
}

ul li:hover {
  color: orange;
}

footer {
  position: fixed;
  bottom: 0;
  margin-right: 1%;
  border: 2px solid lightsalmon;
  background-color: $footer-bcolor;
  width: 98%;
  padding-left: 1%;
  font-size: $footer-font-size;
  margin-right: 1%;
}
